

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

### VS Code ###
.code

### Node ###
# Dependency directories
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional npm cache directory
.npm

### GitBook ###
# Book build output
_book

### tamplary ###
tmp 
docs/**/*.md